.Messages {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    scrollbar-width: none;
}

.noti::after{
    content: attr(count);
    background-color: red;
    color: white;
    position: absolute;
    top: 12px;
    right: 105px;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    font-size: 10px;

}